<div ng-include='"../components/admin/shared/header.html"'></div>

<div class="container main-container">

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header"><i class="fa fa-calendar"></i> Events</h1>
            <ol class="breadcrumb">
                <li><a href="#/admin">Home</a></li>
                <li class="active">Events</li>
            </ol>
        </div>
    </div>

    <div class="row">
      <div class="container">
        <div class="col-lg-2">
          <div class="row">
              <div ng-include='"../components/admin/shared/sidebar.html"'></div>
          </div>
        </div>
        <div class="col-lg-10">
          <div class="alert alert-success" ng-show="success">
            <strong>Success!</strong> {{success}}
          </div>
          <div class="alert alert-danger" ng-show="err">
            <strong>Error!</strong> {{err}}
          </div>

          <div class="row ten-margin">
            <div class="col-sm-6">
              <div class="row">
                Year:
                <b ng-show="!searchYear">{{activeYear}}</b>
                <b ng-show="searchYear">{{searchYear}}</b>
                | Event Year:
                <select ng-model="searchYear" ng-options="year for year in years" ng-change="showEventPerYear(searchYear)">
                  <option value="">Year</option>
                </select>
              </div>
            </div>
            <div class="col-sm-6">
              <button type="button" class="btn btn-sm btn-primary pull-right" data-toggle="modal" data-target="#openModal" ng-click="clearEventData()"><i class="fa fa-plus"/> Add Event</button>
            </div>

            <div class="col-sm-6">
              <div class="row">
                Filter by Event Type:
                <select ng-model="searchEventType" ng-change="showEventPerType(searchEventType, activeYear)">
                  <option value="">All Events</option>
                  <option value="JHS Orientation">JHS Orientation</option>
                  <option value="JHS INSET">JHS INSET</option>
                  <option value="SHS Orientation">SHS Orientation</option>
                  <option value="SHS INSET">SHS INSET</option>
                </select>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12">
              <div class="table-participants">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>Year</th>
                      <th>Event Name</th>
                      <th>Event Type</th>
                      <th width="80px">Date</th>
                      <th>Venue</th>
                      <th>Fee</th>
                      <th>Status</th>
                      <th width="130px">Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                     <tr ng-repeat="event in eventList">
                       <td>{{event.eventYear}}</td>
                       <td>{{event.name}}</td>
                       <td>{{event.eventType}}</td>
                       <td>{{event.eventDate}}</td>
                       <td>{{event.venue}}</td>
                       <td>{{event.eventFee}}</td>
                       <td>{{event.status}}</td>
                       <td>
                         <button type="button" class="btn btn-xs btn-success" data-toggle="modal" data-target="#openModal" ng-click="editEvent(event)"><i class="fa fa-pencil"/> Edit</button>
                         <button type="button" class="btn btn-xs btn-danger" data-toggle="modal" data-target="#deleteModal" ng-click="showNotif(event)"><i class="fa fa-trash"/> Delete</button>
                       </td>
                     </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>

</div>
<!-- /.container -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title"><i class="fa fa-warning"/> Are you sure you want to delete the record?</h3>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" ng-click="deleteEvent(eventData._id)"><i class="fa fa-check"/> YES</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"/> NO</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="openModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title"><i class="fa fa-calendar"/> Event Information</h3>
      </div>
      <div class="modal-body">
        <div class="alert alert-success" ng-show="eventSuccess">
          <strong>Success!</strong> {{eventSuccess}}
        </div>
        <div class="alert alert-danger" ng-show="eventErr">
          <strong>Error!</strong> {{eventErr}}
        </div>

        <form class="form-horizontal" role="form" name="eventForm">
          <div class="form-group">
            <label class="col-sm-4 control-label" for="textinput">Name</label>
            <div class="col-sm-7">
              <input type="text" placeholder="Event Name" class="form-control" ng-model="eventData.name" name="name" required>
            </div>
            <span class="required-field" ng-show="eventForm.name.$error.required">*</span>
          </div>
          <div class="form-group">
            <label class="col-sm-4 control-label" for="textinput">Year</label>
            <div class="col-sm-7">
              <select class="form-control input-md" ng-model="eventData.eventYear" ng-options="year for year in years" name="year" required>
                <option value="">Select year</option>
              </select>
            </div>
            <span class="required-field" ng-show="eventForm.year.$error.required">*</span>
          </div>
          <div class="form-group">
            <label class="col-sm-4 control-label" for="textinput">Type</label>
            <div class="col-sm-7">
              <select class="form-control input-md" ng-model="eventData.eventType" ng-options="type for type in eventType" name="type" required>
                <option value="">Select type</option>
              </select>
            </div>
            <span class="required-field" ng-show="eventForm.type.$error.required">*</span>
          </div>
          <div class="form-group">
            <label class="col-sm-4 control-label" for="textinput">Date Description</label>
            <div class="col-sm-7">
              <input type="text" placeholder="Date" class="form-control" ng-model="eventData.eventDate" name="date" required>
            </div>
            <span class="required-field" ng-show="eventForm.date.$error.required">*</span>
          </div>
          <div class="form-group">
            <label class="col-sm-4 control-label" for="textinput">Venue</label>
            <div class="col-sm-7">
              <input type.value as type="text" placeholder="Event Venue" class="form-control" ng-model="eventData.venue" name="venue" required>
            </div>
            <span class="required-field" ng-show="eventForm.venue.$error.required">*</span>
          </div>
          <div class="form-group">
            <label class="col-sm-4 control-label" for="textinput">Fee</label>
            <div class="col-sm-7">
              <input type="number" placeholder="Event Fee" class="form-control" ng-model="eventData.eventFee" name="fee" required>
            </div>
            <span class="required-field" ng-show="eventForm.fee.$error.required">*</span>
          </div>

          <div ng-show="eventData.eventType == 'JHS Orientation' || eventData.eventType == 'SHS Orientation'">
            <div class="form-group">
              <label class="col-sm-4 control-label" for="textinput">Max Participants</label>
              <div class="col-sm-7">
                <input type="number" placeholder="Max Participants" class="form-control" ng-model="eventData.limits" name="limits" ng-required="eventData.eventType == 'JHS Orientation' || eventData.eventType == 'SHS Orientation'">
              </div>
              <span class="required-field" ng-show="eventForm.limits.$error.required">*</span>
            </div>
          </div>

          <div ng-show="eventData.eventType == 'JHS INSET'">
            <div class="form-group">
              <label class="col-sm-4 control-label" for="textinput">AP (Regular: Grade 7 or 8)</label>
              <div class="col-sm-7">
                <input type="number" placeholder="Araling Panlipunan - 7 or 8" class="form-control" ng-model="eventData.jhsLimits.AP_regular1" name="AP_regular1" ng-required="eventData.eventType == 'JHS INSET'">
              </div>
              <span class="required-field" ng-show="eventForm.AP_regular1.$error.required">*</span>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label" for="textinput">English (Regular: Grade 7 or 8)</label>
              <div class="col-sm-7">
                <input type="number" placeholder="English - 7 or 8" class="form-control" ng-model="eventData.jhsLimits.English_regular1" name="English_regular1" ng-required="eventData.eventType == 'JHS INSET'">
              </div>
              <span class="required-field" ng-show="eventForm.English_regular1.$error.required">*</span>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label" for="textinput">Filipino (Regular: Grade 7 or 8)</label>
              <div class="col-sm-7">
                <input type="number" placeholder="Filipino - 7 or 8" class="form-control" ng-model="eventData.jhsLimits.Filipino_regular1" name="Filipino_regular1" ng-required="eventData.eventType == 'JHS INSET'">
              </div>
              <span class="required-field" ng-show="eventForm.Filipino_regular1.$error.required">*</span>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label" for="textinput">Math (Regular: Grade 7 or 8)</label>
              <div class="col-sm-7">
                <input type="number" placeholder="Math - 7 or 8" class="form-control" ng-model="eventData.jhsLimits.Math_regular1" name="Math_regular1" ng-required="eventData.eventType == 'JHS INSET'">
              </div>
              <span class="required-field" ng-show="eventForm.Math_regular1.$error.required">*</span>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label" for="textinput">Science (Regular: Grade 7 or 8)</label>
              <div class="col-sm-7">
                <input type="number" placeholder="Science - 7 or 8" class="form-control" ng-model="eventData.jhsLimits.Science_regular1" name="Science_regular1" ng-required="eventData.eventType == 'JHS INSET'">
              </div>
              <span class="required-field" ng-show="eventForm.Science_regular1.$error.required">*</span>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label" for="textinput">AP (Regular: Grade 9 or 10)</label>
              <div class="col-sm-7">
                <input type="number" placeholder="Araling Panlipunan - 9 or 10" class="form-control" ng-model="eventData.jhsLimits.AP_regular2" name="AP_regular2" ng-required="eventData.eventType == 'JHS INSET'">
              </div>
              <span class="required-field" ng-show="eventForm.AP_regular2.$error.required">*</span>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label" for="textinput">English (Regular: Grade 9 or 10)</label>
              <div class="col-sm-7">
                <input type="number" placeholder="English - 9 or 10" class="form-control" ng-model="eventData.jhsLimits.English_regular2" name="English_regular2" ng-required="eventData.eventType == 'JHS INSET'">
              </div>
              <span class="required-field" ng-show="eventForm.English_regular2.$error.required">*</span>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label" for="textinput">Filipino (Regular: Grade 9 or 10)</label>
              <div class="col-sm-7">
                <input type="number" placeholder="Filipino - 9 or 10" class="form-control" ng-model="eventData.jhsLimits.Filipino_regular2" name="Filipino_regular2" ng-required="eventData.eventType == 'JHS INSET'">
              </div>
              <span class="required-field" ng-show="eventForm.Filipino_regular2.$error.required">*</span>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label" for="textinput">Math (Regular: Grade 9 or 10)</label>
              <div class="col-sm-7">
                <input type="number" placeholder="Math - 9 or 10" class="form-control" ng-model="eventData.jhsLimits.Math_regular2" name="Math_regular2" ng-required="eventData.eventType == 'JHS INSET'">
              </div>
              <span class="required-field" ng-show="eventForm.Math_regular2.$error.required">*</span>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label" for="textinput">Science (Regular: Grade 9 or 10)</label>
              <div class="col-sm-7">
                <input type="number" placeholder="Science - 9 or 10" class="form-control" ng-model="eventData.jhsLimits.Science_regular2" name="Science_regular2" ng-required="eventData.eventType == 'JHS INSET'">
              </div>
              <span class="required-field" ng-show="eventForm.Science_regular2.$error.required">*</span>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label" for="textinput">AP (Advanced)</label>
              <div class="col-sm-7">
                <input type="number" placeholder="Araling Panlipunan - Advanced" class="form-control" ng-model="eventData.jhsLimits.AP_advanced" name="AP_advanced" ng-required="eventData.eventType == 'JHS INSET'">
              </div>
              <span class="required-field" ng-show="eventForm.AP_advanced.$error.required">*</span>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label" for="textinput">English (Advanced)</label>
              <div class="col-sm-7">
                <input type="number" placeholder="English - Advanced" class="form-control" ng-model="eventData.jhsLimits.English_advanced" name="English_advanced" ng-required="eventData.eventType == 'JHS INSET'">
              </div>
              <span class="required-field" ng-show="eventForm.English_advanced.$error.required">*</span>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label" for="textinput">Filipino (Advanced)</label>
              <div class="col-sm-7">
                <input type="number" placeholder="Filipino - Advanced" class="form-control" ng-model="eventData.jhsLimits.Filipino_advanced" name="Filipino_advanced" ng-required="eventData.eventType == 'JHS INSET'">
              </div>
              <span class="required-field" ng-show="eventForm.Filipino_advanced.$error.required">*</span>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label" for="textinput">Math (Advanced)</label>
              <div class="col-sm-7">
                <input type="number" placeholder="Math - Advanced" class="form-control" ng-model="eventData.jhsLimits.Math_advanced" name="Math_advanced" ng-required="eventData.eventType == 'JHS INSET'">
              </div>
              <span class="required-field" ng-show="eventForm.Math_advanced.$error.required">*</span>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label" for="textinput">Science (Advanced)</label>
              <div class="col-sm-7">
                <input type="number" placeholder="Science - Advanced" class="form-control" ng-model="eventData.jhsLimits.Science_advanced" name="Science_advanced" ng-required="eventData.eventType == 'JHS INSET'">
              </div>
              <span class="required-field" ng-show="eventForm.Science_advanced.$error.required">*</span>
            </div>
          </div>

          <div ng-show="eventData.eventType == 'SHS INSET'">
            <div class="form-group">
              <label class="col-sm-4 control-label" for="textinput">English</label>
              <div class="col-sm-7">
                <input type="number" placeholder="English" class="form-control" ng-model="eventData.shsLimits.English" name="English" ng-required="eventData.eventType == 'SHS INSET'">
              </div>
              <span class="required-field" ng-show="eventForm.English.$error.required">*</span>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label" for="textinput">Filipino</label>
              <div class="col-sm-7">
                <input type="number" placeholder="Filipino" class="form-control" ng-model="eventData.shsLimits.Filipino" name="Filipino" ng-required="eventData.eventType == 'SHS INSET'">
              </div>
              <span class="required-field" ng-show="eventForm.Filipino.$error.required">*</span>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label" for="textinput">Earth and Life Science</label>
              <div class="col-sm-7">
                <input type="number" placeholder="Earth and Life Science" class="form-control" ng-model="eventData.shsLimits.EarthLifeScience" name="EarthLifeScience" ng-required="eventData.eventType == 'SHS INSET'">
              </div>
              <span class="required-field" ng-show="eventForm.EarthLifeScience.$error.required">*</span>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label" for="textinput">Physical Science</label>
              <div class="col-sm-7">
                <input type="number" placeholder="Physical Science" class="form-control" ng-model="eventData.shsLimits.PhysicalScience" name="PhysicalScience" ng-required="eventData.eventType == 'SHS INSET'">
              </div>
              <span class="required-field" ng-show="eventForm.PhysicalScience.$error.required">*</span>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label" for="textinput">Humanities</label>
              <div class="col-sm-7">
                <input type="number" placeholder="Humanities" class="form-control" ng-model="eventData.shsLimits.Humanities" name="Humanities" ng-required="eventData.eventType == 'SHS INSET'">
              </div>
              <span class="required-field" ng-show="eventForm.Humanities.$error.required">*</span>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label" for="textinput">General Math</label>
              <div class="col-sm-7">
                <input type="number" placeholder="General Math" class="form-control" ng-model="eventData.shsLimits.GeneralMath" name="GeneralMath" ng-required="eventData.eventType == 'SHS INSET'">
              </div>
              <span class="required-field" ng-show="eventForm.GeneralMath.$error.required">*</span>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label" for="textinput">Statistics and Probability</label>
              <div class="col-sm-7">
                <input type="number" placeholder="Statistics and Probability" class="form-control" ng-model="eventData.shsLimits.StatisticsProbability" name="StatisticsProbability" ng-required="eventData.eventType == 'SHS INSET'">
              </div>
              <span class="required-field" ng-show="eventForm.StatisticsProbability.$error.required">*</span>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label" for="textinput">Media and Information Literacy</label>
              <div class="col-sm-7">
                <input type="number" placeholder="Media and Information Literacy" class="form-control" ng-model="eventData.shsLimits.MediaInformationLiteracy" name="MediaInformationLiteracy" ng-required="eventData.eventType == 'SHS INSET'">
              </div>
              <span class="required-field" ng-show="eventForm.MediaInformationLiteracy.$error.required">*</span>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label" for="textinput">Understanding Culture, Society, and Politics</label>
              <div class="col-sm-7">
                <input type="number" placeholder="Understanding Culture, Society, and Politics" class="form-control" ng-model="eventData.shsLimits.CutureSocietyPolitics" name="CutureSocietyPolitics" ng-required="eventData.eventType == 'SHS INSET'">
              </div>
              <span class="required-field" ng-show="eventForm.CutureSocietyPolitics.$error.required">*</span>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label" for="textinput">Personal Development</label>
              <div class="col-sm-7">
                <input type="number" placeholder="Personal Development" class="form-control" ng-model="eventData.shsLimits.PersonalDevelopment" name="PersonalDevelopment" ng-required="eventData.eventType == 'SHS INSET'">
              </div>
              <span class="required-field" ng-show="eventForm.PersonalDevelopment.$error.required">*</span>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label" for="textinput">Introduction to Philosophy of the Human Person</label>
              <div class="col-sm-7">
                <input type="number" placeholder="Introduction to Philosophy of the Human Person" class="form-control" ng-model="eventData.shsLimits.Philosophy"  name="Philosophy" ng-required="eventData.eventType == 'SHS INSET'">
              </div>
              <span class="required-field" ng-show="eventForm.Philosophy.$error.required">*</span>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label" for="textinput">Physical Education and Health</label>
              <div class="col-sm-7">
                <input type="number" placeholder="Physical Education and Health" class="form-control" ng-model="eventData.shsLimits.PhysicalEducation" name="PhysicalEducation" ng-required="eventData.eventType == 'SHS INSET'">
              </div>
              <span class="required-field" ng-show="eventForm.PhysicalEducation.$error.required">*</span>
            </div>
          </div>


          <div class="form-group">
            <label class="col-sm-4 control-label" for="textinput">Event Hours</label>
            <div class="col-sm-7">
              <input type="number" placeholder="Event Hours" class="form-control" ng-model="eventData.hours">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-4 control-label" for="textinput">Region</label>
            <div class="col-sm-7">
              <select class="form-control input-md" ng-model="eventData.region" ng-options="r.name for r in regionList track by r.code" multiple name="region" required>
              </select>
            </div>
            <span class="required-field" ng-show="eventForm.region.$error.required">*</span>
          </div>
          <div class="form-group">
            <label class="col-sm-4 control-label" for="textinput">Province</label>
            <div class="col-sm-7">
              <select class="form-control input-md" ng-model="eventData.province" ng-options="p.name for p in provinceList track by p.code" multiple>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-4 control-label" for="textinput">Deadline</label>
            <div id="datepicker" class="col-sm-7">
              <input type="text" class="form-control" placeholder="Deadline" ng-model="eventData.deadline" name="deadline" required>
            </div>
            <span class="required-field" ng-show="eventForm.deadline.$error.required">*</span>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="saveEvent(eventData)"><i class="fa fa-check"/> Submit</button>
      </div>
    </div>
  </div>
</div>


<script>
$(function(){
  $('#datepicker input').datepicker({
      autoclose: true
  });
});
</script>
