<ul class="list-group">
  <li class="list-group-item">
    <a href="#/admin">
      <span class="fa fa-cog"></span> Configuration
    </a>
  </li>
  <li class="list-group-item">
    <a href="#/admin/events">
      <span class="fa fa-calendar"></span> Events
    </a>
  </li>
  <li class="list-group-item">
    <a href="#/admin/transactions">
      <span class="fa fa-tasks"></span> Transactions
    </a>
  </li>
  <li class="list-group-item">
    <a href="#/admin/deposits">
      <span class="fa fa-money"></span> Payments
    </a>
  </li>
  <li class="list-group-item">
    <a href="#/admin/users">
      <span class="fa fa-users"></span> Users
    </a>
  </li>
  <li class="list-group-item">
    <a href="#/admin/jhs">
      <span class="fa fa-home"></span> JHS Schools
    </a>
  </li>
  <li class="list-group-item">
    <a href="#/admin/shs">
      <span class="fa fa-graduation-cap"></span> SHS Schools
    </a>
  </li>
  <li class="list-group-item">
    <a href="#/admin/report">
      <span class="fa fa-book"></span> Reports
    </a>

    <!-- <ul class="sidebar-submenu">
      <li>
        <a href="#/admin/report/event">
          <span class="fa fa-book"></span> Event Reports
        </a>
      </li>
    </ul> -->

  </li>
</ul>
