<div ng-include='"../components/admin/shared/header.html"'></div>

<div class="container main-container">

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header"><i class="fa fa-graduation-cap"></i> SHS School List</h1>
            <ol class="breadcrumb">
                <li><a href="#/admin">Home</a></li>
                <li class="active">SHS Schools</li>
            </ol>
        </div>
    </div>

    <div class="row">
      <div class="container">
        <div class="col-lg-2">
          <div class="row">
              <div ng-include='"../components/admin/shared/sidebar.html"'></div>
          </div>
        </div>
        <div class="col-lg-10">
          <div class="alert alert-success" ng-show="success">
            <strong>Success!</strong> {{success}}
          </div>
          <div class="alert alert-danger" ng-show="err">
            <strong>Error!</strong> {{err}}
          </div>

          <div class="row ten-margin">
            <div class="col-sm-6">
              <div class="input-group">
                <span class="input-group-addon">School ID:</span>
                <input type="text" class="form-control" ng-model="searchId">
                <span class="input-group-btn">
                  <button type="button" class="btn btn-primary" ng-click="searchSchool(searchId)"><i class="fa fa-search"/> Search</button>
                </span>
              </div>
            </div>
            <div class="col-sm-6">
              <button type="button" class="btn btn-sm btn-primary pull-right" data-toggle="modal" data-target="#openModal" ng-click="cleardata()"><i class="fa fa-plus"/> Add School</button>
            </div>
          </div>

          <div class="alert alert-warning" ng-show="showLoading">
            <p class="text-center">
              <i class="fa fa-spinner fa-pulse fa-fw"></i> Loading data...
            </p>
          </div>

          <div class="row" ng-show="schools">
            <div class="col-sm-12">
              <div class="table-participants">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Name</th>
                      <th>School Head</th>
                      <th width="130px">Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                     <tr ng-repeat="school in schools | offset:currentPage*itemsPerPage | limitTo:15">
                       <td>{{school.schoolId}}</td>
                       <td>{{school.name}}</td>
                       <td>{{school.principal}}</td>
                       <td>
                         <button type="button" class="btn btn-xs btn-success" ng-click="editSchool(school)"><i class="fa fa-pencil"/> Edit</button>
                         <button type="button" class="btn btn-xs btn-danger" data-toggle="modal" data-target="#deleteModal" ng-click="showNotif(school._id)"><i class="fa fa-trash"/> Delete</button>
                       </td>
                     </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <ul class="pager" ng-show="schools">
            <li class="previous" ng-class="prevPageDisabled()">
              <a href ng-click="prevPage()">« Prev</a>
            </li>
            <li class="next" ng-class="nextPageDisabled()">
              <a href ng-click="nextPage()">Next »</a>
            </li>
          </ul>


        </div>
      </div>
    </div>

</div>
<!-- /.container -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title"><i class="fa fa-warning"/> Are you sure you want to delete the record?</h3>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" ng-click="deleteSchool(deleteId)"><i class="fa fa-check"/> YES</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" ><i class="fa fa-times"/> NO</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="openModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title"><i class="fa fa-home"/> School Information</h3>
      </div>
      <div class="modal-body">

        <div class="alert alert-danger" ng-show="errSchool">
          <strong>Error!</strong> {{errSchool}}
        </div>

        <form class="form-horizontal" role="form">
          <div class="form-group">
            <label class="col-sm-4 control-label" for="textinput">School ID</label>
            <div class="col-sm-7">
              <input type="number" placeholder="School ID" class="form-control" ng-model="schoolData.schoolId">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-4 control-label" for="textinput">School Name</label>
            <div class="col-sm-7">
              <input type="text" placeholder="School Name" class="form-control" ng-model="schoolData.name">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-4 control-label" for="textinput">School Short Name</label>
            <div class="col-sm-7">
              <input type="text" placeholder="Short Name" class="form-control" ng-model="schoolData.shortName">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-4 control-label" for="textinput">Region</label>
            <div class="col-sm-7">
              <select class="form-control" ng-model="schoolData.region" ng-options="d.code as d.name for d in regionList">
                <option value="">Select Region</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-4 control-label" for="textinput">Province</label>
            <div class="col-sm-7">
              <select class="form-control" ng-model="schoolData.province" ng-options="d.code as d.name for d in provinceList">
                <option value="">Select Province</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-4 control-label" for="textinput">Website</label>
            <div class="col-sm-7">
              <input type="text" placeholder="Website" class="form-control" ng-model="schoolData.website">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-4 control-label" for="textinput">Cellphone No.</label>
            <div class="col-sm-7">
              <input type="text" placeholder="Cellphone No." class="form-control" ng-model="schoolData.cellNo">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-4 control-label" for="textinput">Fax No.</label>
            <div class="col-sm-7">
              <input type="text" placeholder="Fax No." class="form-control" ng-model="schoolData.fax">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-4 control-label" for="textinput">Telephone No.</label>
            <div class="col-sm-7">
              <input type="text" placeholder="Telephone No." class="form-control" ng-model="schoolData.telNo">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-4 control-label" for="textinput">Street</label>
            <div class="col-sm-7">
              <input type="text" placeholder="Street" class="form-control" ng-model="schoolData.street">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-4 control-label" for="textinput">Principal</label>
            <div class="col-sm-7">
              <input type="text" placeholder="Principal Name" class="form-control" ng-model="schoolData.principal">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-4 control-label" for="textinput">School Old Name</label>
            <div class="col-sm-7">
              <input type="text" placeholder="Old Name" class="form-control" ng-model="schoolData.oldName">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-4 control-label" for="textinput">Email</label>
            <div class="col-sm-7">
              <input type="text" placeholder="Email" class="form-control" ng-model="schoolData.email">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-4 control-label" for="textinput">School Type</label>
            <div class="col-sm-7">
              <select class="form-control" ng-model="schoolData.schoolType">
                <option value="">Select Type</option>
                <option value="Private">Private</option>
                <option value="SUC/LUC">SUC/LUC</option>
              </select>
            </div>
          </div>

        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="saveSchool(schoolData)"><i class="fa fa-floppy-o"/> Submit</button>
      </div>
    </div>
  </div>
</div>
