<div ng-include='"../components/admin/shared/header.html"'></div>

<div class="container main-container">

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header"><i class="fa fa-users"></i> Users List</h1>
            <ol class="breadcrumb">
                <li><a href="#/admin">Home</a></li>
                <li class="active">Users</li>
            </ol>
        </div>
    </div>

    <div class="row">
      <div class="container">
        <div class="col-lg-2">
          <div class="row">
              <div ng-include='"../components/admin/shared/sidebar.html"'></div>
          </div>
        </div>
        <div class="col-lg-10">
          <div class="alert alert-success" ng-show="success">
            <strong>Success!</strong> {{success}}
          </div>
          <div class="alert alert-danger" ng-show="err">
            <strong>Error!</strong> {{err}}
          </div>

          <div class="row ten-margin">
            <div class="col-sm-6">
              Search By:
              <select ng-model="searchType" ng-options="type.query as type.name for type in searchListType">
                <option value="">Show All</option>
              </select>
              <br/>
              <br/>
              <div class="input-group">
                <input type="text" class="form-control" ng-model="search">
                <span class="input-group-btn">
                  <button type="button" class="btn btn-primary" ng-click="searchData(search, searchType)"><i class="fa fa-search"/> Search</button>
                </span>
              </div>
            </div>

            <div class="col-sm-6">
              <button type="button" class="btn btn-sm btn-primary pull-right" data-toggle="modal" data-target="#openModal" ng-click="addUser()"><i class="fa fa-plus"/> Add User</button>
            </div>
          </div>

          <div class="alert alert-warning" ng-show="showLoading">
            <p class="text-center">
              <i class="fa fa-spinner fa-pulse fa-fw"></i> Loading data...
            </p>
          </div>

          <div class="row" ng-show="users">
            <div class="col-sm-12">
              <div class="table-participants">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>Username</th>
                      <th>Full Name</th>
                      <th>Contact No</th>
                      <th>Status</th>
                      <th width="130px">Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                     <tr ng-repeat="user in users | offset:currentPage*itemsPerPage | limitTo:15">
                       <td>{{user.username}}</td>
                       <td>{{user.lastName}}, {{user.firstName}}, {{user.middleName}}</td>
                       <td>{{user.contactNo}}</td>
                       <td>{{user.status}}</td>
                       <td>
                         <button type="button" class="btn btn-xs btn-success" data-toggle="modal" data-target="#openModal" ng-click="editUser(user)"><i class="fa fa-pencil"/> Edit</button>
                         <button type="button" class="btn btn-xs btn-danger" data-toggle="modal" data-target="#deleteModal" ng-click="showNotif(user)"><i class="fa fa-trash"/> Delete</button>
                       </td>
                     </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <ul class="pager" ng-show="users">
            <li class="previous" ng-class="prevPageDisabled()">
              <a href ng-click="prevPage()">« Prev</a>
            </li>
            <li class="next" ng-class="nextPageDisabled()">
              <a href ng-click="nextPage()">Next »</a>
            </li>
          </ul>


        </div>
      </div>
    </div>

</div>
<!-- /.container -->

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title"><i class="fa fa-warning"/> Are you sure you want to delete the record?</h3>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" ng-click="deleteUser(userData._id)"><i class="fa fa-check"/> YES</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"/> NO</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="openModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title"><i class="fa fa-user"/> User Information</h3>
      </div>
      <div class="modal-body">
        <div class="alert alert-success" ng-show="userSuccess">
          <strong>Success!</strong> {{userSuccess}}
        </div>
        <div class="alert alert-danger" ng-show="userErr">
          <strong>Error!</strong> {{userErr}}
        </div>

        <form class="form-horizontal" role="form" name="eventForm">
          <div class="form-group">
            <label class="col-sm-4 control-label" for="textinput">Username</label>
            <div class="col-sm-7">
              <input type="text" placeholder="Username" class="form-control" ng-model="user.username">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-4 control-label" for="textinput">Password</label>
            <div class="col-sm-7">
              <input type="text" placeholder="Password" class="form-control" ng-model="user.password">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-4 control-label" for="textinput">First Name</label>
            <div class="col-sm-7">
              <input type="text" placeholder="First Name" class="form-control" ng-model="user.firstName">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-4 control-label" for="textinput">Middle Name</label>
            <div class="col-sm-7">
              <input type="text" placeholder="Middle Name" class="form-control" ng-model="user.middleName">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-4 control-label" for="textinput">Last Name</label>
            <div class="col-sm-7">
              <input type="text" placeholder="Last Name" class="form-control" ng-model="user.lastName">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-4 control-label" for="textinput">Email</label>
            <div class="col-sm-7">
              <input type="text" placeholder="Email" class="form-control" ng-model="user.email">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-4 control-label" for="textinput">Contact No</label>
            <div class="col-sm-7">
              <input type="text" placeholder="Contact No" class="form-control" ng-model="user.contactNo">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-4 control-label" for="textinput">Status</label>
            <div class="col-sm-7">
              <select name="status" class="form-control" ng-model="user.status">
                <option value="active">Active</option>
                <option value="inactive">Inactive</option>
              </select>
            </div>
          </div>
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="saveUser(user)"><i class="fa fa-floppy-o"/> Save</button>
      </div>
    </div>
  </div>
</div>
