<div ng-include='"../shared/header/accountHeader.html"'></div>

<div class="container main-container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">My Registrations</h1>
            <ol class="breadcrumb">
                <li><a href="#/">Home</a></li>
                <li class="active">My Registrations</li>
            </ol>
        </div>
    </div>

    <div class="row">
      <div class="container">
        <div class="col-lg-3">
          <div class="row">
            <div ng-include='"../shared/content/quicklinks.html"'></div>
          </div>
        </div>

        <div class="col-lg-9">

          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle"  data-toggle="collapse" data-parent="toggle" data-target="#collapseOne">
                <div class="row">
                  <div class="col-sm-12">

                    <div class="row">
                      <div class="col-sm-4">
                        <small><b>Registration Code:</b> 31723-1231-AASAJJ</small><br/>
                      </div>
                      <div class="col-sm-4">
                        <small><b>Event Type:</b> SHS Orientation</small><br/>
                      </div>
                      <div class="col-sm-4">
                        <small><b>Total Amount:</b> 5000</small><br/>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-4">
                        <small><b>Registration Date:</b> 11/26/2016</small><br/>
                      </div>
                      <div class="col-sm-4">
                        <small><b>No. of Participants:</b> 2</small><br/>
                      </div>
                      <div class="col-sm-4">
                        <small><b>Status:</b> PAID <i class="fa fa-check"/></small><br/>
                      </div>

                    </div>

                  </div>
                </div>
              </a>
            </div>
            <div id="collapseOne" class="accordion-body collapse out">
              <div class="accordion-inner">

                <div class="table-participants">
                  <button type="button" class="btn btn-sm btn-link pull-right"><i class="fa fa-pencil"/> Edit Participants</button>
                  <button type="button" class="btn btn-sm btn-link pull-right"><i class="fa fa-print"/> Print Participants List</button>
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th>First Name</th>
                        <th>Middle Name</th>
                        <th>Last Name</th>
                        <th>Contact No</th>
                        <th>Email</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>Melvin</td>
                        <td>09175182345</td>
                        <td>melvinjohn@yahoo.com</td>
                        <td>
                          <button type="button" class="btn btn-xs btn-info"><i class="fa fa-print"/> Print Certificate</button>
                        </td>
                      </tr>
                      <tr>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>Cruz</td>
                        <td>09132382345</td>
                        <td>jacobthoton@yahoo.com</td>
                        <td>
                          <button type="button" class="btn btn-xs btn-info"><i class="fa fa-print"/> Print Certificate</button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>

              </div>
            </div>
          </div>

          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle"  data-toggle="collapse" data-parent="toggle" data-target="#collapse2">
                <div class="row">
                  <div class="col-sm-12">

                    <div class="row">
                      <div class="col-sm-4">
                        <small><b>Registration Code:</b> 31723-1231-AASAJJ</small><br/>
                      </div>
                      <div class="col-sm-4">
                        <small><b>Event Type:</b> SHS Orientation</small><br/>
                      </div>
                      <div class="col-sm-4">
                        <small><b>Total Amount:</b> 5000</small><br/>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-4">
                        <small><b>Registration Date:</b> 11/26/2016</small><br/>
                      </div>
                      <div class="col-sm-4">
                        <small><b>No. of Participants:</b> 3</small><br/>
                      </div>
                      <div class="col-sm-4">
                        <small><b>Status:</b> PENDING <i class="fa fa-spinner"/></small><br/>
                      </div>

                    </div>

                  </div>
                </div>
              </a>
            </div>
            <div id="collapse2" class="accordion-body collapse out">
              <div class="accordion-inner">

                <div class="table-participants">
                  <button type="button" class="btn btn-sm btn-link pull-right"><i class="fa fa-pencil"/> Edit Participants</button>
                  <button type="button" class="btn btn-sm btn-link pull-right"><i class="fa fa-print"/> Print Participants List</button>
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th>First Name</th>
                        <th>Middle Name</th>
                        <th>Last Name</th>
                        <th>Contact No</th>
                        <th>Email</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>Melvin</td>
                        <td>09175182345</td>
                        <td>melvinjohn@yahoo.com</td>
                      </tr>
                      <tr>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>Cruz</td>
                        <td>09132382345</td>
                        <td>jacobthoton@yahoo.com</td>
                      </tr>
                      <tr>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>Cruz</td>
                        <td>09132382345</td>
                        <td>jacobthoton@yahoo.com</td>
                      </tr>
                    </tbody>
                  </table>
                </div>

              </div>
            </div>
          </div>

          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle"  data-toggle="collapse" data-parent="toggle" data-target="#collapse3">
                <div class="row">
                  <div class="col-sm-12">

                    <div class="row">
                      <div class="col-sm-4">
                        <small><b>Registration Code:</b> 31723-1231-AASAJJ</small><br/>
                      </div>
                      <div class="col-sm-4">
                        <small><b>Event Type:</b> SHS Orientation</small><br/>
                      </div>
                      <div class="col-sm-4">
                        <small><b>Total Amount:</b> 5000</small><br/>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-4">
                        <small><b>Registration Date:</b> 11/26/2016</small><br/>
                      </div>
                      <div class="col-sm-4">
                        <small><b>No. of Participants:</b> 4</small><br/>
                      </div>
                      <div class="col-sm-4">
                        <small><b>Status:</b> EXPIRED <i class="fa fa-warning"/></small><br/>
                      </div>

                    </div>

                  </div>
                </div>
              </a>
            </div>
            <div id="collapse3" class="accordion-body collapse out">
              <div class="accordion-inner">

                <div class="table-participants">
                  <button type="button" class="btn btn-sm btn-link pull-right"><i class="fa fa-pencil"/> Edit Participants</button>
                  <button type="button" class="btn btn-sm btn-link pull-right"><i class="fa fa-print"/> Print Participants List</button>
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th>First Name</th>
                        <th>Middle Name</th>
                        <th>Last Name</th>
                        <th>Contact No</th>
                        <th>Email</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>Melvin</td>
                        <td>09175182345</td>
                        <td>melvinjohn@yahoo.com</td>
                      </tr>
                      <tr>
                        <td>Melvin</td>
                        <td>John</td>
                        <td>Bagsik</td>
                        <td>0938293794</td>
                        <td>mjbn@yahoo.com</td>
                      </tr>
                      <tr>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>Cruz</td>
                        <td>09132382345</td>
                        <td>jacobthoton@yahoo.com</td>
                      </tr>
                      <tr>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>Cruz</td>
                        <td>09132382345</td>
                        <td>jacobthoton@yahoo.com</td>
                      </tr>
                    </tbody>
                  </table>
                </div>

              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
</div>
<!-- /.container -->
