<div ng-include='"../shared/header/header.html"'></div>

<div class="container">

  <div class="row">
      <div class="col-lg-12">
          <h1 class="page-header">PEAC Registration System
          </h1>
      </div>
  </div>

  <div class="section">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
              <h1 class="text-center">Login</h1>
            </div>
             <div class="modal-body">
               <div class="alert alert-danger" ng-show="err">
                 <strong>Error!</strong> {{err}}
               </div>
               <div class="form-group">
                 <input type="text" class="form-control input-lg" placeholder="Username" ng-model="user.username"/>
               </div>
               <div class="form-group">
                 <input type="password" class="form-control input-lg" placeholder="Password" ng-model="user.password"/>
               </div>
               <div class="form-group">
                 <div class="row">
                   <div class="col-sm-6">
                     <button type="button" class="btn btn-block btn-lg btn-success" ng-click="registerRedirect()"><i class="fa fa-address-book"></i> Create Account</button>
                   </div>
                   <div class="col-sm-6">
                     <button type="button" class="btn btn-block btn-lg btn-primary" ng-click="loginUser(user)"><i class="fa fa-sign-in"></i> Login</button>
                   </div>
                 </div>
               </div>
               <div class="form-group">
                 <div class="row">
                   <div class="col-sm-12">
                     <span class="pull-right"><a href="#" data-toggle="modal" data-target="#openModal">Forgot Password?</a></span>
                   </div>
                 </div>
               </div>
             </div>
        </div>
     </div>

   </div>

   <hr>
   <div ng-include='"../shared/content/mid.html"'></div>


   <div class="modal fade" id="openModal" tabindex="-1" role="dialog">
     <div class="modal-dialog" role="document">
       <div class="modal-content">
         <div class="modal-header">
           <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
           <h3 class="modal-title"><i class="fa fa-warning"/> Forgot Password</h3>
         </div>
         <div class="modal-body">
           <div class="alert alert-danger" ng-show="forgotErr">
             <strong>Error!</strong> {{forgotErr}}
           </div>
           <div class="alert alert-success" ng-show="forgotSuccess">
             <strong>Success!</strong> {{forgotSuccess}}
           </div>

           <div class="alert alert-warning" ng-show="showLoading">
             <p class="text-center">
               <i class="fa fa-spinner fa-pulse fa-fw"></i> Verifying data, please wait.......
             </p>
           </div>

           <form class="form-horizontal">
             <div class="form-group">
               <label class="col-sm-3 control-label" for="textinput">Username</label>
               <div class="col-sm-8">
                 <input type="text" placeholder="Username" class="form-control" ng-model="forgot.username">
               </div>
             </div>
             <div class="form-group">
               <label class="col-sm-3 control-label" for="textinput">Email Address</label>
               <div class="col-sm-8">
                 <input type="text" placeholder="Email" class="form-control" ng-model="forgot.email">
               </div>
             </div>
           </form>

         </div>
         <div class="modal-footer">
           <button type="button" class="btn btn-primary" ng-click="forgotpassword(forgot)"><i class="fa fa-check"/> Submit</button>
         </div>
       </div>
     </div>
   </div>

</div>
