<div ng-include='"../shared/header/header.html"'></div>

<div class="container">

  <div class="row">
      <div class="col-lg-12">
          <h1 class="page-header">Account Activation
          </h1>
      </div>
  </div>

  <div class="section">

    <div class="row">

      <div class="col-sm-12 text-center" ng-show="user">
        <h3>Your account has been activated. Please <a href="#/login"> click here </a> to login.</h3>
      </div>

      <div class="col-sm-12 text-center school-note" ng-show="!user">
        <h3>Sorry, verfication code is invalid.</h3>
      </div>


    </div>

   </div>

   <hr>
   <div ng-include='"../shared/content/mid.html"'></div>

</div>
