<div ng-include='"../shared/header/accountHeader.html"'></div>

<div class="container main-container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">Orientation Registration
                <small>Junior High School</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#/">Home</a></li>
                <li class="active">JHS Orientation</li>
            </ol>
        </div>

    </div>

    <div class="row">

      <div class="container">

        <div class="alert alert-success" ng-show="success">
          <strong>Success!</strong> {{success}}
        </div>
        <div class="alert alert-danger" ng-show="err">
          <strong>Error!</strong> {{err}}
        </div>

        <h2>Event Information</h2>

        <div class="well">

          <div class="row">

            <div class="col-sm-6 form-group">
              <div ng-hide="schoolInfo">
                <p class="school-note">Note: If your 7-digit ESC school ID starts with "0", just type the 2nd to 7th digit. For example, 0123456 just type 123456</p>
                <label>ESC School ID</label>
                <div class="input-group col-sm-6">
                  <input type="text" class="form-control" placeholder="XXXXXXX" ng-model="schoolId">
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-primary" ng-click="searchSchool(schoolId)"><span class="fa fa-search"/> Search</button>
                  </span>
                </div>
              </div>
              <div ng-show="schoolInfo">
                <p class="school-note">Note: Please double check school details before choosing an event.</p>
                <p>
                  <strong>ESC School ID: </strong>{{schoolInfo.schoolId}}<br/>
                  <strong>Name: </strong>{{schoolInfo.name}}<br/>
                  <strong>Address: </strong>{{schoolInfo.street}} {{schoolInfo.brgy}}<br/>
                  <strong>Website: </strong>{{schoolInfo.website}}
                </p>
              </div>
            </div>

            <div class="col-sm-12 form-group">
              <label>Select Event</label>
              <select class="form-control" ng-model="eventSearch" ng-options="d._id as d.name for d in eventList" ng-change="findEvent(eventSearch)" ng-disabled="!schoolInfo">
                <option value="">Select Event</option>
              </select>
            </div>

            <div class="col-sm-12 form-group">
              <div ng-show="eventData">
                <h4>Event Details</h4>
                <p>
                  <strong>Event Name: </strong>{{eventData.name}}<br/>
                  <strong>Event Type: </strong>{{eventData.eventType}}<br/>
                  <strong>Event Date: </strong>{{eventData.eventDate}}<br/>
                  <strong>Venue: </strong>{{eventData.venue}}<br/>
                  <strong>Fee: </strong>{{eventData.eventFee}}
                </p>
              </div>
            </div>

          </div>

        </div>

        <div class="alert alert-warning fade in" ng-show="regionWarning">
          <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <strong>Warning!</strong> Selected event is not within your school region.
        </div>

        <form ng-submit="submitEventInformation()" ng-show="eventData">

          <h2>Participant Information</h2> <br/>
          <div class="warning-note">*Please register as a group, not individually.</div>

        <div ng-show="maxLimit">
          <p><b>Available Slots: {{maxLimit}}</b></p>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <input type="checkbox" ng-model="showP1" ng-change="addP1(showP1)" ng-disabled="disableP1"/>
            <strong>Designation: <u>Schoolhead</u></strong>
          </div>
          <div class="panel-body" ng-show="displayP1">
            <div class="row">
              <div class="col-sm-2 form-group">
                <label>Title</label>
                <input type="text" class="form-control input-sm" placeholder="Mr/Ms/Mrs" ng-model="p1.title" ng-required="showP1" ng-disabled="disableP1">
              </div>
              <div class="col-sm-3 form-group">
                <label>First Name</label>
                <input type="text" class="form-control input-sm" placeholder="First Name" ng-model="p1.firstName" ng-required="showP1" ng-disabled="disableP1">
              </div>
              <div class="col-sm-2 form-group">
                <label>Middle Name</label>
                <input type="text" class="form-control input-sm" placeholder="Middle Name" ng-model="p1.middleName" ng-required="showP1" ng-disabled="disableP1">
              </div>
              <div class="col-sm-3 form-group">
                <label>Last Name</label>
                <input type="text" class="form-control input-sm" placeholder="Last Name" ng-model="p1.lastName" ng-required="showP1" ng-disabled="disableP1">
              </div>
              <div class="col-sm-2 form-group">
                <label>Suffix</label>
                <input type="text" class="form-control input-sm" placeholder="Suffix" ng-model="p1.suffix" ng-disabled="disableP1">
              </div>
            </div>
            <div class="row">
              <div class="col-sm-2 form-group">
                <label>Gender</label>
                <select class="form-control input-sm" ng-model="p1.gender" ng-disabled="disableP1">
                  <option>Male</option>
                  <option>Female</option>
                </select>
              </div>
              <div class="col-sm-2 form-group">
                <label>Mobile Number</label>
                <input type="text" class="form-control input-sm" placeholder="09XXXXXXXXX" ng-model="p1.contactNo" ng-required="showP1" ng-disabled="disableP1">
              </div>
              <div class="col-sm-3 form-group">
                <label>Email Address</label>
                <input type="email" class="form-control input-sm" placeholder="Email" ng-model="p1.email" ng-required="showP1" ng-disabled="disableP1">
              </div>
            </div>
          </div>

        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <input type="checkbox" ng-model="showP2" ng-change="addP2(showP2)" ng-disabled="disableP2"/>
            <strong>Designation: <u>IT Point Person</u></strong>
          </div>
          <div class="panel-body" ng-show="displayP2">
            <div class="row">
              <div class="col-sm-2 form-group">
                <label>Title</label>
                <input type="text" class="form-control input-sm" placeholder="Mr/Ms/Mrs" ng-model="p2.title" ng-required="showP2" ng-disabled="disableP2">
              </div>
              <div class="col-sm-3 form-group">
                <label>First Name</label>
                <input type="text" class="form-control input-sm" placeholder="First Name" ng-model="p2.firstName" ng-required="showP2" ng-disabled="disableP2">
              </div>
              <div class="col-sm-2 form-group">
                <label>Middle Name</label>
                <input type="text" class="form-control input-sm" placeholder="Middle Name" ng-model="p2.middleName" ng-required="showP2" ng-disabled="disableP2">
              </div>
              <div class="col-sm-3 form-group">
                <label>Last Name</label>
                <input type="text" class="form-control input-sm" placeholder="Last Name" ng-model="p2.lastName" ng-required="showP2" ng-disabled="disableP2">
              </div>
              <div class="col-sm-2 form-group">
                <label>Suffix</label>
                <input type="text" class="form-control input-sm" placeholder="Suffix" ng-model="p2.suffix" ng-disabled="disableP2">
              </div>
            </div>
            <div class="row">
              <div class="col-sm-2 form-group">
                <label>Gender</label>
                <select class="form-control input-sm" ng-model="p2.gender" ng-disabled="disableP2">
                  <option>Male</option>
                  <option>Female</option>
                </select>
              </div>
              <div class="col-sm-2 form-group">
                <label>Mobile Number</label>
                <input type="text" class="form-control input-sm" placeholder="09XXXXXXXXX" ng-model="p2.contactNo" ng-required="showP2" ng-disabled="disableP2">
              </div>
              <div class="col-sm-3 form-group">
                <label>Email Address</label>
                <input type="email" class="form-control input-sm" placeholder="Email" ng-model="p2.email" ng-required="showP2" ng-disabled="disableP2">
              </div>
            </div>
          </div>
        </div>


        <div class="pull-right" ng-show="showP1 || showP2">
          <button type="reset" class="btn btn-danger"><span class="fa fa-times"/> Reset</button>
          <button type="submit" class="btn btn-primary" ng-hide="disableP1 && disableP2" ng-disabled="disableSubmit">
            <span class="fa fa-check"/> Submit
          </button>
        </div>

        </form>
      </div>

    </div>

</div>
