<div ng-include='"../components/admin/shared/header.html"'></div>

<div class="container main-container">

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header"><i class="fa fa-tasks"></i> Payments List</h1>
            <ol class="breadcrumb">
                <li><a href="#/admin">Home</a></li>
                <li class="active">Payments</li>
            </ol>
        </div>
    </div>

    <div class="row">
      <div class="container">
        <div class="col-lg-2">
          <div class="row">
              <div ng-include='"../components/admin/shared/sidebar.html"'></div>
          </div>
        </div>
        <div class="col-lg-10">
          <div class="alert alert-success" ng-show="success">
            <strong>Success!</strong> {{success}}
          </div>
          <div class="alert alert-danger" ng-show="err">
            <strong>Error!</strong> {{err}}
          </div>

          <div class="row ten-margin">
            <div class="col-sm-6">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-search"/> Search</span>
                <input type="text" class="form-control" ng-model="search">
              </div>
            </div>
          </div>

          <div class="alert alert-warning" ng-show="!payments">
            <p class="text-center">
              <i class="fa fa-spinner fa-pulse fa-fw"></i> Loading data...
            </p>
          </div>

          <div class="row" ng-show="payments">
            <div class="col-sm-12">
              <div class="table-participants">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>Reference No</th>
                      <th>Registration Codes</th>
                      <th>Date</th>
                      <th>Total Amount</th>
                      <th>Status</th>
                      <th>Actions</t>
                    </tr>
                  </thead>
                  <tbody>
                     <tr ng-repeat="payment in payments | offset:currentPage*itemsPerPage | limitTo:15 | filter:search | orderBy:date">
                       <td>
                         <button type="button" class="btn btn-xs btn-link" data-toggle="modal" data-target="#openModal" ng-click="showDetails(payment)">{{payment.depositReferenceNo}}</button>
                       </td>
                       <td>{{payment.regCodes}}</td>
                       <td>{{payment.date | date}}</td>
                       <td>{{payment.totalAmount | currency}}</td>
                       <td>{{payment.status}}</td>
                       <td ng-show="payment.status == 'pending'">
                         <button type="button" class="btn btn-xs btn-success" ng-click="approveDeposit(payment)"><i class="fa fa-check"/> Approve</button>
                         <button type="button" class="btn btn-xs btn-danger" ng-click="declineDeposit(payment)"><i class="fa fa-times"/> Decline</button>
                       </td>
                     </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <ul class="pager">
            <li class="previous" ng-class="prevPageDisabled()">
              <a href ng-click="prevPage()">« Prev</a>
            </li>
            <li class="next" ng-class="nextPageDisabled()">
              <a href ng-click="nextPage()">Next »</a>
            </li>
          </ul>

        </div>
      </div>
    </div>

</div>
<!-- /.container -->

<div class="modal fade" id="openModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title"><i class="fa fa-money"/> Payment Details</h3>
      </div>
      <div class="modal-body">

        <div class="row">
          <div class="col-sm-12">
            <strong>Deposit Reference No.: </strong>{{details.depositReferenceNo}}<br/>
            <strong>Registration Codes: </strong>{{details.regCodes}}<br/>
            <strong>Total Amount: </strong>{{details.totalAmount | currency}}<br/>
          </div>
          <div class="col-sm-12">
            <h3>Participants</h3>
            <table class="table table-hover small">
              <thead>
                <tr>
                  <th>Full Name</th>
                  <th>Contact No</th>
                  <th>Email</th>
                  <th>Learning Area</th>
                  <th>Event</th>
                  <th>School</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="user in users">
                  <td>{{user.lastName}}, {{user.firstName}} {{user.middleName}} </td>
                  <td>{{user.contactNo}}</td>
                  <td>{{user.email}}</td>
                  <td>{{user.learningArea}}</td>
                  <td>{{user.eventName}}</td>
                  <td>{{user.schoolName}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
          </div>
          <div class="col-md-6">
            <div class="thumbnail">
              <img ng-src="{{details.depositImgUrl}}" class="img-thumbnail" width="600" height="500">
            </div>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" ng-show="details.status == 'pending'" ng-click="approveDeposit(details)"><i class="fa fa-check"/> Approve</button>
        <button type="button" class="btn btn-danger" ng-show="details.status == 'pending'" ng-click="declineDeposit(details)"><i class="fa fa-times"/> Decline</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"/> Close</button>
      </div>
    </div>
  </div>
</div>
