<div ng-include='"../shared/header/header.html"'></div>

<div class="container main-container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">Contact Us</h1>
            <ol class="breadcrumb">
                <li><a href="#/">Home</a></li>
                <li class="active">Contact</li>
            </ol>
        </div>

        <div class="col-lg-12">
          <iframe width="100%" height="400px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3861.7402837842064!2d121.01299995103122!3d14.556839081998802!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3397c90c340297a5%3A0x5b68244067b12412!2sSalamin+Building!5e0!3m2!1sen!2sph!4v1483859273060">
          </iframe>
        </div>

    </div>

    <div class="row">

        <div class="col-sm-8">
            <h3>Let's keep in touch!</h3>
            <p>Email us your questions and inquiries and we would be happy to answer your question and set up a meeting for you.</p>

            <form>
                <div class="row">
                    <div class="form-group col-lg-4">
                        <label for="input1">Name</label>
                        <input type="text" name="name" class="form-control">
                    </div>
                    <div class="form-group col-lg-4">
                        <label for="input2">Email Address</label>
                        <input type="email" name="email" class="form-control">
                    </div>
                    <div class="form-group col-lg-4">
                        <label for="input3">Phone Number</label>
                        <input type="phone" name="phone" class="form-control">
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group col-lg-12">
                        <label for="input4">Message</label>
                        <textarea name="message" class="form-control" rows="6"></textarea>
                    </div>
                    <div class="form-group col-lg-12">
                        <button type="button" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </form>

        </div>

        <div class="col-sm-4">
            <h3>PEAC</h3>
            <h4>Private Education Assistance Committee</h4>
            <p>
                5F Salamin Building 197 Salcedo Street.<br>
                Legaspi Village, Makati City<br>
            </p>
            <p><i class="fa fa-phone"></i> <abbr title="trunkline">Trunk line</abbr>: (02) 8406000 loc. 101, 102</p>
            <p><i class="fa fa-phone"></i> <abbr title="fax">Fax No</abbr>: (02) 5117695</p>
            <p><i class="fa fa-globe"></i> <abbr title="website">Website</abbr>: <a href="http://www.fape.org.ph">www.fape.org.ph</a></p>
            <p><i class="fa fa-envelope-o"></i> <abbr title="Email">Email</abbr>: <a href="mailto:shs.vms@fape.org.ph">shs.vms@fape.org.ph</a></p>
        </div>

    </div>
    <!-- /.row -->
    <hr>
    <div ng-include='"../shared/content/mid.html"'></div>

</div><!-- /.container -->
